/* Reset CSS */
* {
  margin: 1px;
  padding: 0px;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-image: url('../assets/bgImage.png'); /* Background image */
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center; /* Center the background image */
  min-height: 100vh; /* Ensure the body takes up the entire viewport height */
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 5px;
}

/* Navbar styles */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: #aba0a0ce;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: larger;
  font-weight: bolder;
}

.nav-links li {
  margin-right: 40px;
  font-weight: bolder;
}

.nav-links li a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-links li a:hover {
  color: #ff69b4;
}

.logo img {
  width: 100px;
  height: 45px;
  border-radius: 20px;
}

/* Content styles */
.content {
  padding: 50px 0;
  text-align: left; /* Align text to the left */
  font-family: "Permanent Marker", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  color: white;
  animation: fadeInOut 5s infinite alternate; /* Toggle text animation every 5 seconds */
}

/* Explore Button */
#explore-btn {
  color: white;
  background-color: rgb(9, 1, 17);
  width: 170px;
  height: 65px;
  font-weight: bolder;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  font-size: large;
  transition: background-color 0.3s ease;
}

#explore-btn:hover {
  background-color: #ff69b4; /* Change background color on hover */
  border-radius: 10px;
  border: 2px solid greenyellow;
}

/* Section styles */
section {
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

section h2 {
  margin-bottom: 20px;
  color: #ff69b4;
}

/* Footer styles */
footer {
  position: relative; /* Fix the footer at the bottom */
  left: 0; /* Align to the left */
  bottom: 0; /* Align to the bottom */
  width: 100%;
  height: 28vh;
  background-color: #333;
  color: #ffffff;
  padding: 3px 20px;
  text-align: center;
  z-index: 999; /* Ensure the footer stays above other content */
}

.content {
  margin-bottom: 28vh; /* Adjust content margin to make space for the footer */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 80px;
  height: 35px;
  margin-right: 5px;
}

.address,
.social-media,
.phone-number {
  flex: 1;
  font-size: 18px;
  text-align: left;
}

.social-media {
  text-align: center;
  position: relative;
  bottom: 0;
}

.phone-number {
  text-align: right;
  position: relative;
  bottom: 0;
}

.social-media a {
  display: inline-block;
  margin-right: 20px;
  color: #ffffff;
  font-size: 16px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .logo img {
    width: 60px;
  }

  #explore-btn {
    color: white;
    background-color: rgb(9, 1, 17);
    width: 150px;
    height: 55px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    font-size: medium;
    transition: background-color 0.3s ease;
  }

  #explore-btn:hover {
    background-color: #ff69b4; /* Change background color on hover */
  }

  .nav-links li {
    margin-right: 10px;
    font-size: 16px; /* Adjusted font size */
  }

  .address,
  .social-media,
  .phone-number {
    font-size: 14px;
  }

  /* Content styles */
  .content {
    padding: 50px 0;
    text-align: left; /* Align text to the left */
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 10px 5px;
  }

  .nav-links li {
    margin-right: 4px;
    font-size: 14px; /* Adjusted font size */
  }

  #explore-btn {
    color: white;
    background-color: rgb(9, 1, 17);
    width: 130px;
    height: 45px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    font-size: small;
    transition: background-color 0.3s ease;
  }

  #explore-btn:hover {
    background-color: #ff69b4; /* Change background color on hover */
    border-radius: 10px;
    border: 2px solid whitesmoke;
  }

  .address,
  .social-media,
  .phone-number {
    font-size: 14px;
  }
}

@media screen and (max-width: 388px) {
  .logo img {
    display: none; /* Hide logo */
  }

  nav {
    padding: 16px 0;
    font-weight: bold;
    margin: 0px;
  }

  .nav-links li {
    margin-right: 2px;
    font-size: 10px; /* Adjusted font size */
  }

  #explore-btn {
    color: white;
    background-color: rgb(180, 129, 231);
    width: 100px;
    height: 35px;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 10px;
    font-size: x-small;
    transition: background-color 0.3s ease;
  }

  #explore-btn:hover {
    background-color: #ff69b4; /* Change background color on hover */
  }

  .content {
    margin-top: 190px;
    padding: 50px 0;
    text-align: left; /* Align text to the left */
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    color: white;
    animation: fadeInOut 5s infinite alternate; /* Toggle text animation every 5 seconds */
  }

  footer {
    position: relative; /* Fix the footer at the bottom */
    left: 0; /* Align to the left */
    bottom: 0; /* Align to the bottom */
    width: 100%;
    height: 28vh;
    background-color: #333;
    color: #ffffff;
    padding: 3px 20px;
    text-align: center;
    z-index: 999; /* Ensure the footer stays above other content */
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-logo img {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
  }

  .address,
  .social-media,
  .phone-number {
    flex: 1;
    font-size: 12px;
    text-align: left;
    margin-top: 8px;
    text-align: center;
  }

  .social-media {
    position: relative;
    bottom: 0;
  }

  .phone-number {
    position: relative;
    bottom: 0;
  }

  .social-media a {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
    font-size: 16px;
  }
}

/* Animations */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
